[phases.setup]
nixPkgs = ["nodejs", "nginx"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "nginx -c /app/nginx.conf -g 'daemon off; error_log stderr;'"
