[phases.setup]
nixPkgs = ["nodejs_23", "nginx"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "mkdir -p /var/log/nginx && nginx -c /app/nginx.conf -g 'daemon off; error_log /dev/stderr info;'"
